[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/ouranos
Restart=on-failure

[Unit]
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
Description=A minimal wallpaper daemon for Wayland, written in Rust.
Documentation=https://github.com/hambosto/ouranos
PartOf=graphical-session.target
X-Restart-Triggers=%h/.config/ouranos/config.toml
